.cuerpo{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    align-items: center !important;
    text-align: center !important;
}

.custom-bg{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    color:#fbd134 !important;
    background-color: #d11a2c !important;
    border-color:black !important;
    font-weight: bold !important;
}

.divTitulo{
    align-items: center;
    width: 98% !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    color:#fbd134 !important;
    background-color: #d11a2c !important;
    border-color:black !important;
    font-weight: bold !important;
}

.divHeader{
    width: 98% !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    border-color:black !important;
    font-weight: bold !important;
}

.divBody{
    width: 100% !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    border-color:black !important;
    font-weight: bold !important;
    overflow: hidden;
    overflow-y: auto !important;
    max-height:490px !important;
    min-height: 490px !important;
}

.divBody::-webkit-scrollbar{
    display:none;
}

.divFooter{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: small !important;
    border-color:black !important;
    font-weight: bold !important;
    color:#fbd134 !important;
    background-color: #d11a2c !important;
}

label.custom-bg{
    color:#fbd134 !important;
}

button.custom-bg{
    border-radius: 10%;
}

div.custom-bg{
    border-radius: 2%;
}

.custom-invisible{
    visibility: collapse !important;
}

.custom-drop{
    color:#d11a2c !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: white !important;
    border-color: #d11a2c !important;
    border-radius: 5%;
}

.custom-data{
    text-size-adjust: small I !important;
}

.tipoOpe{
    font-weight: bold !important;
}

.listaAutocompletar{
    color:#d11a2c !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: white !important;
    border-color: #d11a2c !important;
    border-radius: 5%;
}

.avatar-bg{
    color:#fbd134 !important;
    background-color: #d11a2c !important;
    cursor: pointer;
}


.avatarPrecio-bg{
    color:#fbd134 !important;
    background-color: #d11a2c !important;
    cursor: pointer;
    text-align: center !important;
    width: 50% !important;
}

.allIcons {
    margin-top: 5%;
    height: 80%;
    width: 80%;
}

.IconX{
    height:max-content;
    width: max-content;
}

.allImg {
    margin-top: 5%;
    height: 80%;
    width: 80%;

}

.TablaDisponiblesData{
    overflow: hidden;
    overflow-y: auto !important;
    max-height:120px !important;
    min-height: 120px !important;
    text-align: center !important;
    align-items: center;
}

.TablaDisponiblesData::-webkit-scrollbar{
    display:none;
}

.rowDisponibles{
    height:  10px !important;
    text-align: center;
}

.CellDisponibles.rowDisponibles{
    height:auto !important;
    text-align: center !important;
}