.cuerpo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.custom-bg{
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color:#fbd134 !important;
    background-color: #d11a2c !important;
    border-color:black !important;
    font-weight: bold !important;
}

button.custom-bg{
    border-radius: 10%;
}

div.custom-bg{
    border-radius: 2%;
}

.custom-invisible{
    visibility: collapse;
}

.custom-drop{
    color:#d11a2c !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: white !important;
    border-color: #d11a2c !important;
    border-radius: 10%;
}

.custom-data{
    text-size-adjust: small I !important;
}

.tipoOpe{
    font-weight: bold !important;
}